
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PoppinsMedium.ttf");
  font-family: "PoppinsMedium";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PoppinsRegular.ttf");
  font-family: "Poppins";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PoppinsBold.ttf");
  font-family: "Poppins";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PoppinsSemiBold.ttf");
  font-family: "PoppinsSemiBold";
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PoppinsBlack.ttf");
  font-family: "PoppinsBlack";
  font-weight: 900;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NunitoSansExtraLight.ttf");
  font-family: "NunitoSansExtraLight";
  font-weight: 200;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NunitoSansLight.ttf");
  font-family: "NunitoSansLight";
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NunitoSansRegular.ttf");
  font-family: "NunitoSansRegular";
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NunitoSansSemiBold.ttf");
  font-family: "NunitoSansSemiBold";
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-style: bold;
  src: url("/fonts/NunitoSansBold.ttf");
  font-family: "NunitoSansBold";
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/NunitoSansExtraBold.ttf");
  font-family: "NunitoSansExtraBold";
  font-weight: 800;
}


